/* verify page css */

body {
    background: url(/image/verify_bk.jpg) no-repeat center center;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 15px 25px;
    width: 100%;
    color: white;
    background: rgba(255, 255, 255, 0.2);
}
.footer * {
    color: white;
}
.footer .explain {
    margin-bottom: 15px;
    text-align: center;
    font-size: 200%;
}
.footer .copyright {
    text-align: center;
    color: rgba(100%, 100%, 100%, 0.3);
}
